.sidebar{
    position:fixed;
    width: 100%;
    max-width: 15.625rem !important;
    overflow:hidden;
    top: 40px;
    left: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 0;
    cursor: pointer;
    z-index: 5;
    background-color: #fff;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 10px rgb(0 0 0 / 0%);

    @media screen and(max-width:900px) {
        width: 22%;
    }
    @media screen and(max-width:500px) {
        width: 30%;
    }

     
    
   .link_box-icon{
    transition:all 0.3s;
    margin: 0.7rem 0;

    .link-icon{
        font-size: 2rem;
    }

   }

    .link_box{
        margin: 1rem 0;
        transition:all 0.3s;
        object-fit: contain;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        &:hover{
        
            background-color: #f6f9fc;
            color: #344767;
            
        }
    }
    
    .link-item{
        color: #67748e;
        text-decoration: none;
        font-size: 0.875rem;
        font-weight: light;
        padding: 0.5rem  2rem;
        text-transform: capitalize;
        transition:all 0.3s;
    }

    .link-item-dropdown{
        transition:all 0.3s;
        color: blue;
        padding:5px;
        margin-left: 50px;
        text-transform: capitalize;
        text-decoration: none;
        font-size: 15px;
        font-weight: light;
        display: flex;
        align-items: center;

        svg{
            margin: 0 10px;
        }
    }

 

    .active{
        background-color: #5e72e4;
        padding: 10px ;
        color: white;
        border-radius: 5px;
        }

        
}

 